<ul>
  <li> <a href="/auth/logout"> Log Out </a> </li>
</ul>

<div class="container my-auto text-center">
  <div class="col-lg-10 mx-auto">

<h2><strong><%= session.interest %></strong> is cool, but I'd rather choose:</h2>
<div class="row justify-content-center">
<form action='/user/<%= session._id%>' method="post">


  <% interestTypes.forEach((interest) => {%>
    <%  console.log(interest)%>
      <input type="radio" name="interest" value="<%= interest %>" <%= session.interest === interest ? 'checked' : '' %>><br>
      <%= interest %><br>
        <% })%>
  <br>
  <button type="submit" name="">Send Interest</button>
      <!-- <input type="submit" value=""> -->
</form>

<h4><a href="/user/<%= session._id%>/search">Or enter your own interest:</a></h4>
</div>

</div>
</div>
