<ul>
  <li> <a href="/auth/logout"> Log Out </a> </li>
</ul>

<h3><%= session.userFirstName %>'s interest'! <%= session.interest %></h3>

<form action='/user/<%= session._id%>' method="post">


  <% interestTypes.forEach((interest) => {%>
    <%  console.log(session)%>
      <input type="radio" name="interest" value="<%= interest %>" <%= session.interest === interest ? 'checked' : '' %>>I like
      <%= interest %><br>
        <% })%>

          <input type="submit" value="Submit">
</form>
