<ul>
  <li> <a href="/auth/logout"> Log Out </a> </li>
</ul>

<div class="container my-auto text-center">
  <div class="col-lg-10 mx-auto">

<h2><strong><%= session.interest %></strong> is cool, but I'd rather choose:</h2>
<div class="row justify-content-center">
<form action='/user/<%= session._id%>' method="post">


  <% interestTypes.forEach((interest) => {%>
    <%  console.log(session)%>
      <input type="radio" name="interest" value="<%= interest %>" <%= session.interest === interest ? 'checked' : '' %>><br>I like
      <%= interest %><br>
        <% })%>

          <input type="submit" value="Submit">


</form>
</div>

</div>
</div>
