<ul>
  <li> <a href="/auth/logout"> Log Out </a> </li>
</ul>

<div class="class=container my-auto text-center">
  <div class="col-lg-10 mx-auto">

    <div class="index-subtitle">
      <h2>These are the best selected <strong><%= session.interest %></strong> tweets: </h2>
      <br>
    </div>
  </div>
</div>

    <% news.forEach(function(singleNew) { %>

<div class="container card custom-card">

  <div class="card-title">
    <h3> <%= singleNew.comment %> </h3>
  </div>

  <div class="card-subtitle">
    <p> The sentiment score is: <%= singleNew.sentimentScore%> </p>
  </div>

  <div class="card-footer row">

    <a href="<%= singleNew.url %>" class="card-link" target="_blank">Click to read more info</a>
    <div class="posting-btn">
      <form action = "/user/<%= session._id%>/linkedin" method = "post" id="prueba">
        <button type="submit" form="prueba" name="_id" value="<%= singleNew._id %>"> Publish it on LinkedIn! </button>
      </form>
    </div>

  </div>

</div>
<br>
<% }) %>
