<div class="container my-auto text-center">
  <div class="col-lg-10 mx-auto">
    <div class="index-subtitle">
      <h2>These are the best selected <strong><%= session.interest %></strong> tweets: </h2>
      <br>
    </div>
  </div>
</div>


<ul class="container-cards">
  <% news.forEach(function(singleNew) { %>
    <li class="card">
      <div class="card-text">
        <h4> <%= singleNew.comment %> </h4>
      </div>
      <div class="card-no-text">
        <a href="<%= singleNew.url %>" class="btn btn-red">Read the post!</a>
        <p> Sentiment score:
          <%= singleNew.sentimentScore%>
        </p>
        <div class="posting-btn">
          <form action="/user/<%= session._id%>/linkedin" method="post" id="prueba">
            <button type="submit" class="btn" form="prueba" name="_id" value="<%= singleNew._id %>"> Publish it on LinkedIn! </button>
          </form>
        </div>
      </div>
    </li>
    <% }) %>
      <br>
</ul>

<div class="btn btn-logout">
<a href="/auth/logout"> Log Out </a>
</div>
